version: "3"

services:
  valheim:
    image: ghcr.io/lloesche/valheim-server:latest
    ports:
      - 2456:2456/udp
      - 2457:2457/udp
      - 2458:2458/udp
    cap_add:
      - sys_nice
    env_file:
      - ./valheim-server/valheim.env
    volumes:
      - ./valheim-server/config:/config
      - ./valheim-server/data:/opt/valheim
    restart: always
    stop_grace_period: 2m
