# Server Configuration
PUID=1000
PGID=1000
TZ={{ lookup("env", "SERVER_TIMEZONE") }}
SERVER_PORT={{ lookup("env", "SERVER_PORT") }}
SERVER_NAME={{ lookup("env", "SERVER_NAME") }}
WORLD_NAME={{ lookup("env", "WORLD_NAME") }}
SERVER_PASS={{ lookup("env", "SERVER_PASSWORD") }}
SERVER_PUBLIC={{ lookup("env", "SERVER_IS_PUBLIC") }}

UPDATE_IF_IDLE=true
RESTART_IF_IDLE=true
BACKUPS={{ lookup("env", "ENABLE_BACKUPS") }}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_CRON="0 * * * *"{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_MAX_AGE={{ lookup("env", "BACKUPS_MAX_AGE") }}{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_MAX_COUNT={{ lookup("env", "BACKUPS_MAX_COUNT") }}{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}AUTO_BACKUP_ON_SHUTDOWN=1{% endif %}

VALHEIM_LOG_FILTER_EMPTY=true
VALHEIM_LOG_FILTER_UTF8=true
SUPERVISOR_HTTP=false

# Webhooks + Events
DISCORD_WEBHOOK_URL={{ lookup("env", "DISCORD_WEBHOOK_URL") }}

# Mods
{% if lookup("env", "SERVER_GAME_TYPE") == "ValheimPlus" %}VALHEIM_PLUS=true{% else %}VALHEIM_PLUS=false{% endif %}

{% if lookup("env", "SERVER_GAME_TYPE") == "BepInEx" %}BEPINEX=true{% else %}BEPINEX=false{% endif %}
