# Server Configuration
PUID=1000
PGID=1000
TZ={{ lookup("env", "SERVER_TIMEZONE") }}
SERVER_PORT={{ lookup("env", "SERVER_PORT") }}
SERVER_NAME={{ lookup("env", "SERVER_NAME") }}
WORLD_NAME={{ lookup("env", "WORLD_NAME") }}
SERVER_PASS={{ lookup("env", "SERVER_PASSWORD") }}
SERVER_PUBLIC={{ lookup("env", "SERVER_IS_PUBLIC") }}

UPDATE_IF_IDLE=true
RESTART_IF_IDLE=true
BACKUPS={{ lookup("env", "ENABLE_BACKUPS") }}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_CRON="0 * * * *"{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_MAX_AGE={{ lookup("env", "BACKUPS_MAX_AGE") }}{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}BACKUPS_MAX_COUNT={{ lookup("env", "BACKUPS_MAX_COUNT") }}{% endif %}

{% if lookup("env", "ENABLE_BACKUPS") == "true" %}AUTO_BACKUP_ON_SHUTDOWN=1{% endif %}

VALHEIM_LOG_FILTER_EMPTY=true
VALHEIM_LOG_FILTER_UTF8=true
SUPERVISOR_HTTP=false

ADMINLIST_IDS={{ lookup("env", "STEAM_ADMINLIST_IDS") }}

# Webhooks
DISCORD_WEBHOOK_URL={{ lookup("env", "DISCORD_WEBHOOK_URL") }}

{# POST_BACKUP_MESSAGE= #}
{# POST_BACKUP_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$POST_BACKUP_MESSAGE\"}" "$DISCORD_WEBHOOK_URL" #}

POST_START_MESSAGE=Valheim server has started
POST_START_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$POST_START_MESSAGE\"}" "$DISCORD_WEBHOOK_URL"

PRE_RESTART_MESSAGE=Valheim server is restarting
PRE_RESTART_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$PRE_RESTART_MESSAGE\"}" "$DISCORD_WEBHOOK_URL"

POST_SERVER_LISTENING_MESSAGE=Valheim server is ready for players to seek honor and glory
POST_SERVER_LISTENING_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$POST_SERVER_LISTENING_MESSAGE\"}" "$DISCORD_WEBHOOK_URL"

PRE_BOOTSTRAP_MESSAGE=Starting Valheim server
PRE_BOOTSTRAP_HOOK=curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$PRE_BOOTSTRAP_MESSAGE\"}" "$DISCORD_WEBHOOK_URL"

# Log filter event hooks
##  https://github.com/lloesche/valheim-server-docker#log-filter-event-hooks
VALHEIM_LOG_FILTER_CONTAINS_Spawned="Got character ZDOID from"
ON_VALHEIM_LOG_FILTER_CONTAINS_Spawned='{ read l; l=${l//*ZDOID from /}; l=${l// :*/}; msg="Player $l spawned into the world"; curl -sfSL -X POST -H "Content-Type: application/json" -d "{\"username\":\"Valheim\",\"content\":\"$msg\"}" "$DISCORD_WEBHOOK_URL"; }'

# Mods
{% if lookup("env", "SERVER_GAME_TYPE") == "VALHEIM_PLUS" %}VALHEIM_PLUS=true{% else %}VALHEIM_PLUS=false{% endif %}

{% if lookup("env", "SERVER_GAME_TYPE") == "BEPINEX" %}BEPINEX=true{% else %}BEPINEX=false{% endif %}
