[Unit]
Description=Dockerized Valheim game server
Requires=docker.service
After=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker-compose -f /opt/valheim/docker-compose.yml up -d
ExecReload=/usr/bin/docker-compose -f /opt/valheim/docker-compose.yml restart
ExecStop=/usr/bin/docker-compose -f /opt/valheim/docker-compose.yml down
RemainAfterExit=True
Restart=always

[Install]
WantedBy=multi-user.target